.header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
   background-color: rgba(20, 20, 20, 0.2);
   box-shadow: 0 0 10px black;
   color: white;
}

.header img {
   width: 50px;
   margin-left: 1rem;
}

.header>span>a {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   color: white;
   text-decoration: none;
}

.header>nav>a {
   margin: 0 1rem;
   font-weight: bold;
   text-decoration: none;
   color: white;

   &:hover {
      background-color: white;
      color: black;
      padding: 1rem;
      border-radius: 5%;
      margin: 0;
   }
}